.border-medium {
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}

.border-thin {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}

.select-area-field-label {
	font-size: 11px;
	background-color: floralwhite;
	padding: 2px;
	position: relative;
	top: -20px;
	left: -40px;
}

.select-areas-overlay {
	background-color: #000;
	overflow: hidden;
	position: absolute;
}

.blurred {
	/*filter: url("/filters.svg#blur3px");
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);*/
	
}

.select-areas-outline {
	background: url('outline.gif');
	overflow: hidden;
	padding: 2px;
}

.select-areas-resize-handler {
	border: 2px #fff solid;
	height: 10px;
	width: 10px;
	overflow: hidden;
	background-color: #000;
}

.select-areas-delete-area {
	background: url('bt-delete.png');
	cursor: pointer;
	height: 20px;
	width: 20px;
}

.delete-area {
	position: absolute;
	cursor: pointer;
	padding: 1px;
}